{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "production": {}
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "@app": "./app",
          "@components": "./app/components",
          "@models": "./app/models",
          "@navigation": "./app/navigation",
          "@screens": "./app/screens",
          "@theme": "./app/theme",
          "@services": "./app/services",
          "@utils": "./app/utils",
          "@constants": "./app/constants",
          "@hocs": "./app/hocs",
          "@context": "./app/context",
          "@graphql": "./app/graphql"
        }
      }
    ],
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV", "API"]
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-optional-catch-binding"]
  ]
}
